.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  border: var(--border-color);
  box-shadow: var(--box-shadow);
  padding: 5rem;
  width: 90%;
  margin: auto;
  border-radius: var(--border-radius);
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin-right: 2rem;
}

.about-text {
  width: 65%;
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--text-color);
}

#img-about {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: var(--border-radius);
}