.about-content {
  background-color: var(--secondary-color);
  padding: 5rem;
  width: 60%;
  margin: auto;
  border-radius: var(--border-radius);
}

#about p {
  font-size: 1.25rem;
  line-height: 1.8;
  color: var(--text-color);
}