:root {
  --primary-color: #279af1;
  --secondary-color: #1f1f1f;
  --text-color: #ffffff;
  --background-color: #121212;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--background-color);
  color: #fff;
  line-height: 1.6;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  padding: 20px 0;
  margin: 10px 0;
}

section {
  scroll-margin-top: 30px;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
  padding: 0 5%;
  box-sizing: border-box;
  border-bottom: 2px solid var(--secondary-color);
}

.section-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
}