#contact {
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 40px;
}

#contact h2 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
  padding: 20px 0;
  margin: 10px 0;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--secondary-color);
  align-items: center;
  margin-top: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out;
}

#contact-form:hover {
  transform: scale(1.03);
}

.form-control {
  width: 80%;
  padding: 20px;
  margin-top: 50px;
  border: 1px solid #444;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#message {
  height: 200px;
  resize: none;
}

.form-control::placeholder {
  color: #ccc;
}

.form-control:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}

#send {
  width: 80%;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 15px 0;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#send:hover {
  background-color: #fff;
  color: #1f1f1f;
  transform: scale(1.03);
  transition: transform .5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
