span {
  font-size: 1rem;
  font-style: bold;
  padding: 8px 20px;
}

svg {
  margin: 20px;
  display: inline;
}

svg:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

#profile-img {
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: contain;
  mask-image: radial-gradient(#121212 55%, transparent 60%);

  /* Evita que el usuario pueda seleccionar la imagen (como si fuera texto) */
  -webkit-user-select: none; /* Safari */
  user-select: none; 
}

#profile-img:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

#hero {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h1 {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 30px;
}

#hero h2 {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 2px;
  padding: 0px !important;
}

#buttons {
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  border-width: 20px;
  border-radius: 5px;
  text-decoration: none; /* Asegura que el enlace no tenga subrayado */
}

.hero-btn:hover {
  background-color: var(--text-color);
  color: var(--primary-color);
  transform: scale(1.03);
  transition: transform .5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
